![StandWithUkraine](https://raw.githubusercontent.com/{{ me.username }}/StandWithUkraine/main/badges/StandWithUkraine.svg)
![Visitors](https://visitor-badge.glitch.me/badge?page_id={{ me.username }})
[![GitHub followers](https://img.shields.io/github/followers/{{ me.username }}?label=follow&style=social)](https://github.com/{{ me.username }})

![Stand With Ukraine](https://raw.githubusercontent.com/{{ me.username }}/StandWithUkraine/main/banner2-direct.svg)

### Hi there 👋

I’ve been a web developer 💻 since **{{ me.startWorkingYear }}**. I consider myself an enthusiast, 'cause I enjoy taking part in every project. This is a good opportunity for me to learn, to get new skills, and to meet new interesting people. First of all, to make a website, I concentrate on what the user need, then, I do my work pixel-by-pixel. I create perfect UI solutions using HTML, CSS, Javascript, etc. and scalable backend using PHP. Providing excellent feedback, I can guarantee a quick and high-quality work. You'll get a good experience cooperating with me.

### Things I code with 👨‍💻

{{ #skills }}
![{{ key }}](https://img.shields.io/badge/-{{ key }}-{{ color }}?style={{ badgeStyle }}&logo={{ logo }}&logoColor=white)
{{ /skills }}

### More about me

- When i work, i listen ![Spotify](https://img.shields.io/badge/Spotify-1ED760?&style=flat&logo=spotify&logoColor=white) and ![Apple Music](https://img.shields.io/badge/Apple_Music-F34E68?style=flat&logo=apple%20music&logoColor=white)
- I invest to ![DASH](https://img.shields.io/badge/DASH-008DE4?style=flat&logo=dash&logoColor=white) ![XRP](https://img.shields.io/badge/XRP-black?style=flat&logo=xrp&logoColor=white) ![POLKADOT](https://img.shields.io/badge/polkadot-E6007A?style=flat&logo=Polkadot&logoColor=fff) and other cryptocurrencies
- My favorite browser ![Safari](https://img.shields.io/badge/Safari-000000?style=flat&logo=Safari&logoColor=white)

{{ #me.buymeacoffee }}
### if you like what i do, buy me a coffee 🥺

<a href="https://www.buymeacoffee.com/stepanenko" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Buy Me A Coffee" width="150" ></a>
{{ /me.buymeacoffee }}

### My Stats
![GitHub stats](https://github-readme-stats.vercel.app/api?username=stepanenko3&count_private=true&show_icons=true&hide_rank=true&include_all_commits=true)&nbsp;&nbsp;&nbsp;[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=stepanenko3&layout=compact&langs_count=8&hide_progress=true)](https://github.com/maloun96/github-readme-stats)

| Nova Packages |  |
| :-- | :-- |
{{ #novaPackages }}
{{> package }}

{{ /novaPackages }}

| Laravel Packages |  |
| :-- | :-- |
{{ #laravelPackages }}
{{> package }}

{{ /laravelPackages }}

| Other Packages |  |
| :-- | :-- |
{{ #otherPackages }}
{{> package }}

{{ /otherPackages }}

| Javascript && Typescript Packages |  |
| :-- | :-- |
{{ #jsPackages }}
{{> package }}

{{ /jsPackages }}
{{ #city }}
------------
🌤 Currently, the weather in {{ city }} is: **{{ city_temp }}°C, feels like {{ city_temp_feels_like }}°C, {{ city_weather }}**

Today, the sun rises at **{{ sun_rise }}** and sets at **{{ sun_set }}**
{{ /city }}

{{ #readmeUpdatedInfo }}
------------
This *README* file is generated **every 3 hours**!

Last refresh: {{ date }}

![Github Profile](https://github.com/{{ me.username }}/{{ me.username }}/workflows/README%20build/badge.svg)
![Stars](https://img.shields.io/github/stars/{{ me.username }}/{{ me.username }}?style={{ badgeStyle }}&labelColor=343b41)
![Forks](https://img.shields.io/github/forks/{{ me.username }}/{{ me.username }}?style={{ badgeStyle }}&labelColor=343b41)
{{ /readmeUpdatedInfo }}
