|

**[{{ name }}](https://github.com/{{ me.username }}/{{ key }})**

|

[![Version](https://img.shields.io/{{ manager }}/v/{{ package }}?style={{ badgeStyle }}&labelColor=343b41)](https://github.com/{{ me.username }}/{{ key }})

{{ #packagist }}
    [![Downloads](https://img.shields.io/{{ manager }}/dt/{{ package }}?style={{ badgeStyle }}&labelColor=343b41)](https://packagist.org/packages/{{ me.username }}/{{ key }})
{{ /packagist }}

{{ #npm }}
    [![Downloads](https://img.shields.io/{{ manager }}/dt/{{ package }}?style={{ badgeStyle }}&labelColor=343b41)](https://www.npmjs.com/package/{{ key }})
{{ /npm }}

[![Stars](https://img.shields.io/github/stars/{{ me.username }}/{{ key }}?style={{ badgeStyle }}&labelColor=343b41)](https://github.com/{{ me.username }}/{{ key }})

[![Issues](https://img.shields.io/github/issues/{{ me.username }}/{{ key }}?style={{ badgeStyle }}&labelColor=343b41)](https://github.com/{{ me.username }}/{{ key }}/issues)

[![Pull Requests](https://img.shields.io/github/issues-pr/{{ me.username }}/{{ key }}?style={{ badgeStyle }}&labelColor=343b41)](https://github.com/{{ me.username }}/{{ key }}/pulls)

|